@tailwind base;

html {
  scroll-behavior: smooth;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

*::-webkit-scrollbar-track {
  @apply bg-white dark:bg-slate-900;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-[10px] border-[3px] border-white border-solid dark:border-slate-900 bg-slate-300 dark:bg-slate-700;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .section {
    @apply min-h-[85vh] scroll-m-12;
  }
}

/* Fade up */
.fadeup-enter {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}
